<app-navbar></app-navbar>

<div class="container">
  <div class="row bg-primary align-items-center fila">
    <div class="col mx-5 bg-danger">
      <h3 class="row titulo">Venta del día</h3>
      <h6 class="row">Vs último 30 días</h6>
      <div class="row">
        <div class="col text-start"><h1>S/ 421</h1></div>
        <div class="col text-end"><h2>+ 30%</h2></div>
      </div>
    </div>
    <div class="col mx-5 bg-white">
      <h3 class="row titulo">Créditos totales</h3>
      <h6 class="row">Total otorgado</h6>
      <span class="row text-center">
        <h1>1121 créditos</h1>
      </span>
    </div>
    <div class="col mx-5 bg-success">
      <h3 class="row titulo">Créditos totales</h3>
      <h6 class="row">Hoy</h6>
      <div class="row">
        <div class="col text-start"><h4>Turrón Doña Pepa</h4></div>
        <div class="col text-end"><a> IMG </a></div>
      </div>
    </div>
  </div>

  
  <div class="row fil bg-danger align-items-center fila">
    <div class="col mx-5">
      <h3 class="row titulo">Necesita Stock</h3>
      <h6 class="row">Stock limitado</h6>
      <div class="row">
        <div class="col-5 text-start"><h5>Atún Campomar</h5></div>
        <div class="col-3 text-center"><h5>11 u</h5></div>
        <div class="col-4 text-center"><h5>IMG</h5></div>
      </div>
      <div class="row">
        <div class="col-5 text-start"><h5>Azucar Bell's 5kg</h5></div>
        <div class="col-3 text-center"><h5>13 u</h5></div>
        <div class="col-4 text-center"><h5>IMG</h5></div>
      </div>
      <div class="row">
        <div class="col-5 text-start"><h5>Leche Gloria Light</h5></div>
        <div class="col-3 text-center"><h5>15 u</h5></div>
        <div class="col-4 text-center"><h5>IMG</h5></div>
      </div>
    </div>

    <div class="col mx-5">
      <h3 class="row titulo">Clientes Morosos</h3>

      <h6 class="row">Top 3</h6>
      <div class="row">
        <div class="col-6 text-start"><h5>Jorge Diaz Dual</h5></div>
        <div class="col-2 text-center"><h5>1202 c</h5></div>
        <div class="col-4 text-center"><h5>IMG</h5></div>
      </div>
      <div class="row">
        <div class="col-6 text-start"><h5>Sara Mendoza Gomez</h5></div>
        <div class="col-2 text-center"><h5>892 c</h5></div>
        <div class="col-4 text-center"><h5>IMG</h5></div>
      </div>
      <div class="row">
        <div class="col-6 text-start"><h5>Ale Gonzáles Garcia</h5></div>
        <div class="col-2 text-center"><h5>799 c</h5></div>
        <div class="col-4 text-center"><h5>IMG</h5></div>
      </div>
    </div>
  </div>
</div>
