<body>
  <header>
    <a class="logo" routerLink="/dashboard"
      ><img
        class="img"
        src="../../../assets/img/markat-logo.jpg"
        alt="logo"
      />MARKAT</a
    >
    <nav>
      <ul class="nav__links">
        <li>
          <a href="#" class="font-700" routerLink="/dashboard">Dashboard</a>
        </li>
        <li>
          <a href="#" class="font-700" routerLink="/dashboard/inventario">Inventario</a>
        </li>
        <li>
          <a href="#" class="font-700" routerLink="/dashboard/clientes">Clientes</a>
        </li>
        <li><a href="#" class="font-700" routerLink="/dashboard/ventas">Ventas</a></li>
        <li>
          <a href="#" class="font-700" routerLink="/dashboard/finanzas">Finanzas</a>
        </li>
      </ul>
    </nav>
    <a class="cta" href="#" >
      <mat-icon>account_circle</mat-icon>
    </a>
    <p class="menu cta">Menu</p>
  </header>
  <div class="overlay">
    <a class="close">&times;</a>
    <div class="overlay__content">
      <a href="#">Services</a>
      <a href="#">Projects</a>
      <a href="#">About</a>
    </div>
  </div>
  <script type="text/javascript" src="mobile.js"></script>
</body>
