<div class="delay">
    <div class="popup">
        <h1 class="text-center">AGREGAR CLIENTE</h1>
        <form>
            <mat-form-field appearance="standard" class="w-100">
                <mat-label>DNI</mat-label>
                <input matInput placeholder="nombre cliente" #input>
            </mat-form-field><br>
            <mat-form-field appearance="standard" class="w-100">
                <mat-label>NOMBRE</mat-label>
                <input matInput placeholder="nombre cliente" #input>
            </mat-form-field><br>
            <mat-form-field appearance="standard" class="w-100">
                <mat-label>APELLIDO</mat-label>
                <input matInput placeholder="nombre cliente" #input>
            </mat-form-field>
            <div class="d-flex justify-content-between">
                <button mat-raised-button routerLink="/dashboard/1/clientes">Cancelar</button>
                <button mat-raised-button routerLink="/dashboard/1/clientes">Agregar</button>
            </div>
        </form>
    </div>
</div>