<app-navbar></app-navbar>
<div class="container">
  <div class="row align-items-center fila">
    <div class="col mx-5">
      <h3 class="row titulo" style="max-width: 500px">Nivel de ventas</h3>
      <div class="row contenido">
        <div id="myColumnChart"></div>
      </div>
    </div>
  </div>

  <div class="row fila">
    <div class="col mx-5">
      <h3 class="row titulo">Productos más vendidos</h3>
      <h6 class="row">hoy</h6>
      <div class="row contenido_2">
        <div class="col-5 text-start"><h5>Atún Campomar</h5></div>
        <div class="col-2 text-center"><h5>S/ 298</h5></div>
        <div class="col-2 text-center"><h5>68 u</h5></div>
        <div class="col-2 text-center">
          <img
            class="person-img"
            src="https://wongfood.vteximg.com.br/arquivos/ids/363948-750-750/59521001-01-65.jpg?v=637279704140170000"
            alt="Atun"
          />
        </div>
      </div>
      <div class="row contenido_2">
        <div class="col-5 text-start"><h5>Azucar Bell's 5kg</h5></div>
        <div class="col-2 text-center"><h5>S/ 212</h5></div>
        <div class="col-2 text-center"><h5>13 u</h5></div>
        <div class="col-2 text-center">
          <img
            class="person-img"
            src="https://wongfood.vteximg.com.br/arquivos/ids/363948-750-750/59521001-01-65.jpg?v=637279704140170000"
            alt="Atun"
          />
        </div>
      </div>
      <div class="row contenido_2">
        <div class="col-5 text-start"><h5>Leche Gloria Light</h5></div>
        <div class="col-2 text-center"><h5>S/ 150</h5></div>
        <div class="col-2 text-center"><h5>15 u</h5></div>
        <div class="col-2 text-center">
          <img
            class="person-img"
            src="https://wongfood.vteximg.com.br/arquivos/ids/363948-750-750/59521001-01-65.jpg?v=637279704140170000"
            alt="Atun"
          />
        </div>
      </div>
    </div>
    <div class="col mx-5">
      <h3 class="row titulo">Clientes relevantes</h3>
      <h6 class="row">total vendido</h6>
      <div class="row contenido_2">
        <div class="col-6 text-start"><h5>Jorge Diaz Dual</h5></div>
        <div class="col-2 text-center"><h5>S/ 1202</h5></div>
        <div class="col-4 text-center">
          <img
            class="person-img"
            src="https://i.postimg.cc/GpMdb6RN/bodeguero.png"
            alt="Jorge"
          />
        </div>
      </div>
      <div class="row contenido_2">
        <div class="col-6 text-start"><h5>Sara Mendoza Gomez</h5></div>
        <div class="col-2 text-center"><h5>S/ 1892</h5></div>
        <div class="col-4 text-center">
          <img
            class="person-img"
            src="https://i.postimg.cc/GpMdb6RN/bodeguero.png"
            alt="Sara"
          />
        </div>
      </div>
      <div class="row contenido_2">
        <div class="col-6 text-start"><h5>Ale Gonzáles Garcia</h5></div>
        <div class="col-2 text-center"><h5>S/ 1799</h5></div>
        <div class="col-4 text-center">
          <img
            class="person-img"
            src="https://i.postimg.cc/GpMdb6RN/bodeguero.png"
            alt="Ale"
          />
        </div>
      </div>
    </div>
  </div>
</div>
